@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");

* {
  box-sizing: border-box;
  outline: none !important;
}

*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: #000;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.header:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
}

.header__inner {
  position: relative;
  z-index: 1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  color: #ffffff;
  padding: 20px 0;
}

.header__logo img {
  max-width: 80%;
}

.header__desc {
  font-size: 24px;
  line-height: 30px;
  max-width: 80%;
  margin: 0 auto;
}

.header__desc p:last-child {
  margin-bottom: 0;
}

.header__desc a {
  color: #ffffff;
  border-bottom: 1px solid #fff;
  text-decoration: none;
}

.header__desc a:hover {
  border-color: transparent;
}

.header__btn {
  margin-top: 30px;
}

.header__btn ._btn {
  display: inline-block;
  vertical-align: top;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgb(219, 52, 52);
  padding: 15px 30px;
  text-decoration: none;
  border-radius: 4px;
  font-size: 30px;
  line-height: 1.3;
  font-weight: bold;
}

.header__btn ._btn:hover {
  background-color: rgb(230, 31, 31);
}

@media (max-width: 767px) {
  .container {
    padding: 0 15px;
  }

  .header__inner {
    padding: 50px 0;
    justify-content: flex-start;
  }

  .header__desc {
    max-width: none;
    font-size: 19px;
    line-height: 26px;
  }

  .header__btn ._btn {
    font-size: 16px;
    padding: 15px;
  }
}
