/*

	Author: Lumberjacks

	Template: Elegant (Coming Soon)

	Version: 2.0

	URL: http://themeforest.net/user/Lumberjacks/

*/

/* TABLE OF CONTENTS



	1. Import section

	2. Basic styles

	3. Typography

	4. Breakpoint for high-res devices

	5. Header

	6. Icons

	7. Subscribe

	8. Who we are

	9. Twitter

	10. Footer

	11. Breakpoints



*/

/* 1. IMPORT SECTION */

@import url("bootstrap.css");
@import url(
  http://fonts.googleapis.com/css?family=Open+Sans:300italic,
  400italic,
  600italic,
  400,
  300,
  600&subset=latin,
  cyrillic
);
@import url("font-awesome.min.css");

/* 2. BASIC STYLES */

html,
body {
  height: 100%;
}

body {
  font: 16px/1.5 Open Sans, "Century Gothic", "Trebuchet MS", Helvetica,
    sans-serif;

  background-color: #fff;

  color: #262626;

  font-weight: 300;

  -webkit-font-smoothing: antialiased;

  text-rendering: optimizeLegibility;
}

a {
  color: #e52020;

  transition: all 0.125s ease-in-out 0s;

  -moz-transition: all 0.125s ease-in-out 0s;

  -webkit-transition: all 0.125s ease-in-out 0s;

  -o-transition: all 0.125s ease-in-out 0s;

  -ms-transition: all 0.125s ease-in-out 0s;
}

a:hover {
  color: #e52020;
}

a,
a:hover,
a:active,
a:focus {
  outline: 0;

  border: 0;

  text-decoration: none;
}

.thsite {
  padding-top: 85px;
  margin: 0 auto;
  text-align: center;
  width: 370px;
}

.lj-float-left {
  float: left;
}

.lj-float-right {
  float: right;
}

.lj-block-center {
  display: block;

  margin-left: auto;

  margin-right: auto;
}

.lj-show {
  display: block !important;
}

.lj-hide {
  display: none !important;

  visibility: hidden !important;
}

.lj-preloader {
  background: #fff url("../img/preloader.gif") no-repeat center center;

  bottom: 0;

  height: 100%;

  left: 0;

  overflow: hidden;

  position: fixed;

  right: 0;

  top: 0;

  width: 100%;

  z-index: 99999;
}

/* 3. TYPOGRAPHY */

p {
  line-height: 1.5;
}

.lj-text-uppercase {
  text-transform: uppercase;
}

.lj-text-center {
  text-align: center;
}

.lj-text-left {
  text-align: left;
}

.lj-text-right {
  text-align: right;
}

.lj-text-justify {
  text-align: justify;
}

.lj-text-underline {
  text-decoration: underline;
}

/* 4. BREAKPOINT FOR HIGH-RES DEVICES */

@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .lj-logo-1x {
    display: none !important;
  }

  .lj-logo-2x {
    display: block !important;
  }

  .subscribe {
    background: url("../img/bg-2-2.jpg") !important;
  }
}

/* 5. HEADER */

header {
  width: 100%;

  height: 100%;

  overflow: hidden;

  position: relative;

  background-color: #000 !important;
}

header > .container {
  height: 100%;

  position: relative;
}

.wrapper {
  width: 100%;

  height: auto;

  position: relative;

  top: 50%;
}

.lj-overlay {
  width: 100%;

  height: 100%;

  position: absolute;

  top: 0;

  left: 0;
}

.lj-background-repeat {
  background-repeat: repeat;
}

.lj-background-no-repeat {
  background-repeat: no-repeat;
}

.lj-overlay-none {
  display: none;

  visibility: hidden;
}

.lj-overlay-image {
  background-image: url("../img/lines-horizontal.png");

  background-repeat: repeat;
}

.lj-overlay-color {
  background-color: rgba(0, 0, 0, 0.5);
}

.lj-overlay-gradient {
  background: -moz-linear-gradient(
    215deg,
    rgba(0, 204, 255, 0.8) 0%,
    rgba(196, 255, 0, 0.8) 100%
  ); /* FF3.6+ */

  background: -webkit-gradient(
    linear,
    left bottom,
    right top,
    color-stop(0%, rgba(0, 204, 255, 0.8)),
    color-stop(100%, rgba(196, 255, 0, 0.8))
  ); /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(
    215deg,
    rgba(0, 204, 255, 0.8) 0%,
    rgba(196, 255, 0, 0.8) 100%
  ); /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(
    215deg,
    rgba(0, 204, 255, 0.8) 0%,
    rgba(196, 255, 0, 0.8) 100%
  ); /* Opera 11.10+ */

  background: -ms-linear-gradient(
    215deg,
    rgba(0, 204, 255, 0.8) 0%,
    rgba(196, 255, 0, 0.8) 100%
  ); /* IE10+ */

  background: linear-gradient(
    215deg,
    rgba(0, 204, 255, 0.8) 0%,
    rgba(196, 255, 0, 0.8) 100%
  ); /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ccff', endColorstr='#c4ff00',GradientType=1 ) progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/1x1.png'); /* IE6-9 fallback on horizontal gradient */

  pointer-events: none;
}

header.yt-background {
  background-image: url("../img/video.jpg");

  background-repeat: no-repeat;

  -webkit-background-size: cover;

  -moz-background-size: cover;

  -o-background-size: cover;

  background-size: cover;

  background-attachment: fixed;
}

.mobile .mbYTP_wrapper,
.tablet .mbYTP_wrapper {
  z-index: -1 !important;
}

.mobile .yt-controls,
.tablet .yt-controls {
  display: none;
}

.yt-controls {
  margin-top: 50px;

  text-align: right;
}

.yt-controls a {
  display: inline-block;

  color: #fff;

  width: 20px;
}

.yt-controls a:hover {
  color: #e52020;
}

.lj-logo a,
.lj-logo img {
  width: 270px;
}

.lj-logo a {
  display: block;

  margin: 0 auto;
}

.lj-logo img {
  vertical-align: bottom;
}

.lj-logo-1x {
  display: block;
}

.lj-logo-2x {
  display: none;
}

.lj-title h1 {
  font-size: 3.5em;
  line-height: 1.3;
  font-weight: 300;
  color: #fff;
  margin: 0;
  word-wrap: break-word;
}

@media (max-width: 767px) {
  .lj-title h1 {
    padding-top: 15px;
    font-size: 2.1em;
  }
}

.lj-title span {
  color: #fff;

  font-weight: 700;
}

.lj-line {
  margin-top: 20px;
}

.lj-line > div {
  width: 200px;

  height: 1px;

  background-color: #fff;

  margin: 0 auto;
}

.lj-title-paragraph {
  margin-top: 20px;
}

.lj-title-paragraph p {
  color: #fff;

  margin: 0;
}

.lj-countdown {
  color: #fff;

  margin-top: 40px;

  text-align: center;
}

.lj-countdown > * {
  text-align: center;
}

.lj-countdown div {
  display: inline-block;
}

.lj-countdown div span {
  width: 150px;

  display: block;
}

.lj-countdown div span:first-child {
  height: 64px;

  font-family: Open Sans, "Century Gothic", "Trebuchet MS", Helvetica,
    sans-serif;

  font-weight: 300;

  font-size: 4em;

  line-height: 64px;
}

.lj-countdown div span:last-child {
  height: 20px;

  font-family: Open Sans, "Century Gothic", "Trebuchet MS", Helvetica,
    sans-serif;

  font-weight: 300;

  font-size: 1em;

  line-height: 20px;
}

.lj-scroll-down {
  width: 40px;

  height: 40px;

  margin-left: -20px;

  position: absolute;

  bottom: 40px;

  left: 50%;
}

.lj-scroll-down a,
.lj-scroll-down a:focus {
  width: 40px;

  height: 40px;

  display: block;

  -webkit-border-radius: 2px;

  -moz-border-radius: 2px;

  border-radius: 2px;

  text-align: center;

  line-height: 36px;

  color: #fff;

  background-color: transparent;

  border: 1px solid #fff;
}

.lj-scroll-down a:hover {
  color: #fff;

  background-color: #e52020;

  border: 1px solid #e52020;
}

/* 6. ICONS */

.icons {
  background-color: #fff;

  overflow: hidden;
}

.icons > .container {
  padding-top: 150px;

  padding-bottom: 150px;
}

.lj-icon-box {
  padding: 0 20px;
}

.lj-icon-box span {
  display: inline-block;

  font-size: 2em;

  border-radius: 50%;

  text-align: center;

  color: #e52020;

  background-color: #fff;
}

.lj-icon-box h3 {
  font-weight: 700;

  font-size: 1em;

  word-wrap: break-word;

  color: #262626;
}

.lj-icon-box p {
  font-size: 0.9em;

  color: #262626;
}

.lj-icon-box > a {
  font-weight: 700;

  font-size: 0.85em;

  color: #262626;

  display: inline-block;
}

.lj-icon-box > a:hover {
  color: #e52020;
}

.lj-icon-box h3,
.lj-icon-box p,
.lj-icon-box > a {
  margin: 20px 0 0;
}

.lj-icon-box p a {
  font-weight: 700;
}

@media (max-width: 767px) {
  .icons > .container {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

/* 7. SUBSCRIBE */

.subscribe {
  width: 100%;

  background-color: #fff;

  background-image: url("../img/bg-2.jpg");

  background-attachment: fixed;

  background-repeat: no-repeat;

  background-position: 50% 0;

  -webkit-background-size: cover;

  -moz-background-size: cover;

  -o-background-size: cover;

  background-size: cover;

  position: relative;

  overflow: hidden;
}

.subscribe:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.subscribe > .container {
  position: relative;
  z-index: 1;
  padding-top: 100px;
  padding-bottom: 65px;
}

.lj-subscribe-title h2 {
  font-weight: 300;

  font-size: 3em;
  line-height: 1.1;

  color: #ffffff;

  margin: 0;
}

.lj-subscribe-title h2 span {
  font-weight: 700;
}

.lj-subscribe-form {
  margin-top: 6px;
}

.lj-subscribe-form input[type="text"] {
  outline: 0;

  width: 65%;

  height: 60px;

  display: block;

  padding: 0 20px;

  background-color: #fff;

  border: 0;

  color: #262626;

  float: left;

  border-radius: 0;
  font-size: 18px;
}

.lj-subscribe-form input:focus {
  border: 0 !important;
  box-shadow: none !important;
}

.lj-subscribe-form input[type="submit"] {
  width: 35%;

  height: 60px;

  display: block;

  padding: 0 10px;

  background-color: #e52020;

  border-radius: 0;

  line-height: 60px;

  color: #fff;

  font-weight: 700;

  transition: all 0.125s ease-in-out 0s;

  -moz-transition: all 0.125s ease-in-out 0s;

  -webkit-transition: all 0.125s ease-in-out 0s;

  -o-transition: all 0.125s ease-in-out 0s;

  -ms-transition: all 0.125s ease-in-out 0s;

  float: right;

  font-size: 20px;
}

.lj-subscribe-form input[type="submit"]:hover {
  background-color: #c90606;

  color: #262626;
}

.lj-subscribe-message {
  display: block;

  height: 2.5em;

  padding: 10px 20px;

  color: #262626;

  font-size: 0.9em;
}

.lj-subscribe-message i {
  margin-right: 5px;
}

.lj-subscribe-message .fa-warning {
  color: #ff5c5c;
}

.lj-subscribe-message .fa-check {
  color: #e52020;
}

/* 8. WHO WE ARE */

.who-we-are {
  width: 100%;

  background-color: #fff;

  overflow: hidden;
}

.who-we-are > .container {
  padding-top: 100px;
  padding-bottom: 0px;
}

.lj-quote {
  margin-bottom: 50px;
}

.lj-quote span {
  color: #262626;
  font-size: 2em;
}

.lj-quote blockquote {
  width: 80%;

  margin: 10px 0 0;

  font-weight: 700;

  font-style: italic;

  font-size: 1.25em;
}

.lj-quote blockquote cite {
  font-size: 0.8em;

  font-weight: 300;

  font-style: normal;

  margin-top: 10px;

  display: block;
}

.lj-about h2 {
  font-weight: 300;

  font-size: 3em;

  color: #262626;

  margin: 0;
}

.lj-about h2 span {
  font-weight: 700;
}

.lj-about p {
  margin-top: 20px;

  margin-bottom: 0;
}

.lj-about-leading {
  font-weight: 700;

  font-size: 1.1em;
}

/* 9. TWITTER */

.twitter {
  width: 100%;

  background-color: #f7f7f7;

  overflow: hidden;
}

.twitter > .container {
  padding-top: 150px;

  padding-bottom: 150px;
}

.lj-twitter-title h2 {
  font-weight: 300;

  font-size: 3em;

  color: #262626;

  margin: 0;
}

.lj-twitter-title h2 span {
  font-weight: 700;
}

.lj-twitter-feed {
  min-height: 5.5em;

  font-size: 1.1em;

  text-align: center;
}

.lj-twitter-feed > span {
  line-height: 4.5em;
}

.lj-twitter-feed a {
  font-weight: 700;

  color: #e52020;
}

.lj-twitter-feed a:hover {
  color: #262626;
}

.lj-twitter-feed ul {
  list-style-type: none;

  margin: 0;

  padding: 0;
}

.lj-twitter-date {
  font-size: 0.9em;

  margin-top: 10px;
}

.lj-twitter-date a {
  font-weight: 700;

  color: #e52020;
}

.lj-twitter-date a:hover {
  color: #262626;
}

.lj-twitter-date span {
  font-weight: 700;

  padding-left: 10px;
}

/* 10. FOOTER */

footer {
  width: 100%;

  background-color: #18191a;

  overflow: hidden;
}

footer > .container {
  padding-top: 150px;

  padding-bottom: 100px;

  color: #fff;
}

.lj-footer-left h2 {
  font-weight: 300;

  font-size: 2.9em;

  margin: 0;

  color: #fff;
}

.lj-footer-left h2 span {
  font-weight: 700;
}

.lj-footer-left p {
  color: #fff;

  margin-top: 20px;

  margin-bottom: 0;

  font-size: 0.9em;
}

.lj-footer-left p.lj-footer-leading {
  font-weight: 700;

  font-size: 1em;
}

address {
  margin-top: 50px;
  font-weight: 300;
  font-style: normal;
}

address ul {
  padding-left: 0;

  margin-top: 0;

  margin-bottom: 0;

  list-style-type: none;
}

address ul:last-child {
  margin-left: 20px;
}

address ul > li {
  position: relative;

  text-align: left;

  color: #fff;

  font-size: 0.9em;
}

address i {
  color: #fff;

  line-height: 1.5em !important;
}

.lj-footer-socials {
  margin-top: 50px;

  margin-bottom: 0;

  padding-left: 0;

  list-style-type: none;
}

.lj-footer-socials li {
  display: inline-block;

  margin-right: 5px;
}

.lj-footer-socials li:last-child {
  margin-right: 0;
}

.lj-footer-socials li a {
  width: 40px;

  height: 40px;

  display: inline-block;

  line-height: 40px;

  text-align: center;

  -webkit-border-radius: 2px;

  -moz-border-radius: 2px;

  border-radius: 2px;

  background-color: #e52020;

  color: #fff;

  font-size: 1.25em;
}

.lj-footer-socials li a:hover {
  background-color: #e52020;

  color: #fff;
}

.lj-contact-message {
  height: 4.5em;

  line-height: 4.5em;

  padding: 0 20px;

  color: #fff;

  font-size: 0.9em;
}

.lj-contact-message i {
  margin-right: 5px;
}

.lj-contact-message .fa-warning {
  color: #ff5c5c;
}

.lj-contact-message .fa-check {
  color: #e52020;
}

.lj-footer-right form input:focus,
.lj-footer-right textarea:focus {
  outline: 0;
}

.lj-footer-right input[type="text"] {
  width: 100%;

  height: 60px;

  display: inline-block;

  padding: 0 20px;

  background-color: #fff;

  border: 0;

  border-radius: 0;

  color: #262626;

  margin-top: 20px;
  font-size: 18px;
}

.lj-footer-right input[type="text"]:focus {
  border: 0 !important;
  box-shadow: none !important;
}

.lj-footer-right textarea {
  width: 100%;

  height: 180px;

  display: inline-block;

  padding: 20px;

  background-color: #fff;

  border: 0;

  border-radius: 0;

  color: #262626;

  margin-top: 20px;

  resize: vertical;
  font-size: 18px;
}

.lj-footer-right textarea:focus {
  border: 0 !important;
  box-shadow: none !important;
}

.lj-footer-right input[type="submit"] {
  width: auto;

  height: 60px;

  display: inline-block;

  padding: 0 20px;

  background-color: #e52020;

  border: 0;

  color: #fff;

  border-radius: 0;

  font-weight: 700;

  transition: all 0.125s ease-in-out 0s;

  -moz-transition: all 0.125s ease-in-out 0s;

  -webkit-transition: all 0.125s ease-in-out 0s;

  -o-transition: all 0.125s ease-in-out 0s;

  -ms-transition: all 0.125s ease-in-out 0s;

  margin-top: 20px;
}

.lj-footer-right input[type="submit"]:hover {
  background-color: #e92525;
  color: #fff;
}

/* 11. BREAKPOINTS */

@media (min-width: 992px) and (max-width: 1199px) {
  /* 9. TWITTER */

  .lj-twitter-feed {
    margin-top: 15px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* 7. SUBSCRIBE */

  .lj-subscribe-form {
    margin-top: 20px;
  }

  /* 9. TWITTER */

  .lj-twitter-feed {
    margin-top: 10px;
  }
}

@media (max-width: 767px) {
  /* 5. HEADER */

  header,
  header > .container {
    height: auto;
  }

  .wrapper {
    width: 100%;

    position: static;

    top: 0;

    margin-top: 50px !important;

    margin-bottom: 50px;
  }

  /* 6. ICONS */

  .lj-icon-box {
    text-align: center;

    margin-bottom: 50px;
  }

  .lj-icon-box:last-child {
    margin-bottom: 0;
  }

  .lj-icon-box span {
    font-size: 3em;
  }

  .lj-icon-box h3 {
    font-size: 1.3em;
  }

  .lj-icon-box p {
    font-size: 1em;
    padding: 0 10px;
  }

  .lj-icon-box > a {
    font-size: 1em;
  }

  /* 7. SUBSCRIBE */

  .subscribe > .container {
    padding: 30px 10px;
  }

  .lj-subscribe-title {
    text-align: center;
  }

  .lj-subscribe-title h2 {
    font-size: 2em;
  }

  .lj-subscribe-form {
    margin-top: 20px;
  }

  .subscribe .clearfix {
    display: flex;
    flex-direction: column;
  }

  .subscribe .clearfix input[type="submit"] {
    width: 100%;
  }

  .subscribe .clearfix input[type="text"] {
    width: 100%;
  }

  /* 8. WHO WE ARE */

  .who-we-are > .container {
    padding: 30px 10px;
  }

  .lj-quote {
    margin-top: 0;

    text-align: center;
  }

  .lj-quote blockquote {
    padding: 0 10px;
    width: auto;
    font-size: 1.5em;
    line-height: 1.3;
  }

  .lj-about {
    text-align: center;
  }

  .lj-about h2 {
    margin-top: 40px;
  }

  .lj-about p {
    padding: 0 10%;
  }

  /* 9. TWITTER */

  .lj-twitter-title h2 {
    text-align: center;
  }

  .lj-twitter-feed {
    margin-top: 20px;
  }

  /* 10. FOOTER */

  footer > .container {
    padding-bottom: 30px;
  }

  .lj-footer-left h2 {
    line-height: 1.1;
  }

  .lj-footer-left,
  .lj-footer-right {
    text-align: center;
  }

  .lj-footer-left p {
    padding: 0 10%;
  }

  .lj-footer-left p,
  address ul > li {
    font-size: 1em;
  }

  address ul {
    margin-top: 25px;
  }

  address ul:last-child {
    margin-left: 24px;
  }

  .lj-footer-socials li a {
    width: 60px;

    height: 60px;

    line-height: 60px;

    font-size: 1.5em;
  }

  .lj-contact-message {
    margin-top: 40px;

    height: 1.5em;

    line-height: 1.5em;

    padding: 0;

    text-align: center;

    font-size: 1em;
  }
}
